<html>
    <head>
        <title>
            {{my_balance}}
        </title>
        //META HTTP-EQUIV="Refresh" CONTENT="10";
    </head>

    <body>
        <div id="container">

            <section id="topbar">
                <h1 style="color:Black;font-size: 40px;">{{title}}</h1>
            </section>

            <section id="mainbar">
                <div id="My Balance">
                <h2 style="padding-left:100px">Spot Account</h2>

                    <br>
                <table>
                    <tr>
                        <th>
                            Assets
                        </th>
                        <th>
                            Available
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                    {% for my_balance in my_balance %}
                    <tr>
                        <td>
                            {{my_balance['Assets']}}
                        </td>
                        <td>
                            {{my_balance['Free']}}
                        </td>
                        <td>
                            {{my_balance['Value']}} $
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                    <br>
                <h4>
                    Total Spot Balance = {{my_total}} $
                </h4>    
            </section>

            <script>

                var tradeDiv = document.getElementById('trades')

            </script>
        </div>
    </body>
</html>